<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.syqb.ebuymgr.mapper.CategoryMapper">
    <resultMap id="CategoryBean" type="org.syqb.ebuymgr.pojo.Category">
        <id column="categoryId" property="categoryid" jdbcType="INTEGER"/>
        <result column="categoryName" property="categoryname" jdbcType="VARCHAR"/>
        <result column="categoryParentId" property="categoryparentid" jdbcType="INTEGER"/>
        <result column="categoryType" property="categorytype" jdbcType="INTEGER"/>
        <result column="iconClass" property="iconclass" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getCategoryById" resultMap="CategoryBean" parameterType="java.lang.Integer">
        select * from easybuy_product_category where categoryId = #{categoryId}
    </select>

    <select id="getCategory" resultType="org.syqb.ebuymgr.pojo.Category">
        select * from easybuy_product_category
        <if test="pageIndex != null and pageSize != null and pageSize > 0">
            where categoryParentId = 0
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="getCategoryByParentId" resultType="org.syqb.ebuymgr.pojo.Category">
        select * from easybuy_product_category where categoryParentId = #{parentId}
    </select>

    <select id="getCountByLevel" resultType="java.lang.Integer">
        select count(*) from easybuy_product_category
        <where>
            <if test="level != null and level == 1">
                and categoryParentId = 0
            </if>
        </where>
    </select>

    <delete id="delCategory" parameterType="java.lang.Integer">

    </delete>

    <insert id="addCategory" parameterType="org.syqb.ebuymgr.pojo.Category">
        insert into easybuy_product_category (categoryId, categoryName, categoryParentId,categoryType, iconClass)
        values (0, #{category.categoryname}, #{category.categoryparentid},#{category.categorytype}, #{category.iconclass})
    </insert>

    <update id="updateCategory" parameterType="org.syqb.ebuymgr.pojo.Category">
        update easybuy_product_category
        <set>
            <if test="categoryname != null">
                categoryName = #{categoryname,jdbcType=VARCHAR},
            </if>
            <if test="categoryparentid != null">
                categoryParentId = #{categoryparentid,jdbcType=INTEGER},
            </if>
            <if test="categorytype != null">
                categoryType = #{categorytype,jdbcType=INTEGER},
            </if>
            <if test="iconclass != null">
                iconClass = #{iconclass,jdbcType=VARCHAR},
            </if>
        </set>
        where categoryId = #{categoryid,jdbcType=INTEGER}
    </update>
</mapper>