<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.syqb.org.syqb.ebuymgr.mapper.NewsMapper">
    <resultMap id="NewsBean" type="org.syqb.ebuymgr.pojo.News">
        <id column="newsId" property="newsid" jdbcType="INTEGER"/>
        <result column="newsTitle" property="newstitle" jdbcType="VARCHAR"/>
        <result column="newsContent" property="newscontent" jdbcType="VARCHAR"/>
        <result column="newsCreateTime" property="newscreatetime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getNewsById" resultMap="NewsBean" parameterType="java.lang.Integer">
        select * from easybuy_news where newsId = #{newsId}
    </select>

    <select id="getNewsByPage" resultMap="NewsBean">
        select * from easybuy_news ORDER BY newsCreateTime DESC limit #{pageIndex},#{pageSize}
    </select>

    <select id="getNewsCount" resultType="java.lang.Integer">
        select count(*) from easybuy_news
    </select>

    <insert id="addNews" parameterType="org.syqb.ebuymgr.pojo.News">
        insert into easybuy_news (newsId, newsTitle, newsContent, newsCreateTime)
        values (0, #{news.newstitle}, #{news.newscontent}, now())
    </insert>

    <update id="updateNews" parameterType="org.syqb.ebuymgr.pojo.News">
        update easybuy_news
        <set>
            <if test="news.newstitle != null and news.newstitle != ''">
                newsTitle = #{news.newstitle},
            </if>
            <if test="news.newscontent != null and news.newscontent != ''">
                newsContent = #{news.newscontent},
            </if>
        </set>
        where newsId = #{news.newsid}
    </update>

    <delete id="deleteNews" parameterType="java.lang.Integer">
        delete from easybuy_news where newsId = #{newsId}
    </delete>
</mapper>