<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.syqb.ebuymgr.mapper.ProductMapper">
    <resultMap id="ProductBean" type="org.syqb.ebuymgr.pojo.Product">
        <id column="productId" property="productid" jdbcType="INTEGER"/>
        <result column="productName" property="productname" jdbcType="VARCHAR"/>
        <result column="productDescription" property="productdescription" jdbcType="VARCHAR"/>
        <result column="productPrice" property="productprice" jdbcType="REAL"/>
        <result column="productStock" property="productstock" jdbcType="INTEGER"/>
        <result column="productFileName" property="productfilename" jdbcType="VARCHAR"/>
        <result column="isDelete" property="isdelete" jdbcType="INTEGER"/>
        <collection property="category" resultMap="org.syqb.ebuymgr.mapper.CategoryMapper.CategoryBean"/>
    </resultMap>
    <sql id="Base_Column_List">
    productId, productName, productDescription, productPrice, productStock, categoryId,
    productFileName, isDelete
  </sql>

    <sql id="CategoryInnerJoin">
        inner join easybuy_product_category
        on easybuy_product.categoryId = easybuy_product_category.categoryId
        <where>
            <if test="categoryId != null and categoryId > 0">
                and easybuy_product.categoryId = #{categoryId} or easybuy_product.categoryId in(
                select categoryId from easybuy_product_category
                where categoryParentId = #{categoryId}
                )
            </if>
            and isDelete = 0
        </where>
        order by productId desc
    </sql>

    <select id="selectByPrimaryKey" resultMap="ProductBean" parameterType="java.lang.Integer">
        select *
        from easybuy_product
        where productId = #{productid,jdbcType=INTEGER}
    </select>

    <select id="getProduct" resultMap="ProductBean">
        select * from easybuy_product
        <include refid="CategoryInnerJoin"/>
        limit #{pageIndex} , #{pageSize}
    </select>

    <select id="getProductCount" resultType="java.lang.Integer">
        select count(*) from easybuy_product
        <include refid="CategoryInnerJoin"/>
    </select>

    <update id="delProduct" parameterType="java.lang.Integer">
        update from easybuy_product set isDelete = 1
        where productId = #{productid,jdbcType=INTEGER}
    </update>

    <insert id="addProduct" parameterType="org.syqb.ebuymgr.pojo.Product">
        insert into easybuy_product (productId, productName, productDescription,
          productPrice, productStock, categoryId,
          productFileName, isDelete)
        values (0, #{product.productname,jdbcType=VARCHAR}, #{product.productdescription,jdbcType=VARCHAR},
          #{product.productprice,jdbcType=REAL}, #{product.productstock,jdbcType=INTEGER}, #{product.category.categoryid,jdbcType=INTEGER},
          #{product.productfilename,jdbcType=VARCHAR}, 0)
    </insert>
    <update id="updateProduct" parameterType="org.syqb.ebuymgr.pojo.Product">
        update easybuy_product
        <set>
            <if test="product.productname != null">
                productName = #{product.productname,jdbcType=VARCHAR},
            </if>
            <if test="product.productdescription != null">
                productDescription = #{product.productdescription,jdbcType=VARCHAR},
            </if>
            <if test="product.productprice != null">
                productPrice = #{product.productprice,jdbcType=REAL},
            </if>
            <if test="product.productstock != null">
                productStock = #{product.productstock,jdbcType=INTEGER},
            </if>
            <if test="product.category != null and product.category.categoryid != null and product.category.categoryid > 0">
                categoryId = #{product.category.categoryid,jdbcType=INTEGER},
            </if>
            <if test="product.productfilename != null">
                productFileName = #{product.productfilename,jdbcType=VARCHAR},
            </if>
        </set>
        where productId = #{product.productid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.syqb.ebuymgr.pojo.Product">
    update easybuy_product
    set productName = #{productname,jdbcType=VARCHAR},
      productDescription = #{productdescription,jdbcType=VARCHAR},
      productPrice = #{productprice,jdbcType=REAL},
      productStock = #{productstock,jdbcType=INTEGER},
      categoryId = #{categoryid,jdbcType=INTEGER},
      productFileName = #{productfilename,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where productId = #{productid,jdbcType=INTEGER}
  </update>
</mapper>