<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.syqb.ebuymgr.mapper.UserAddressMapper">
    <resultMap id="UserAddressBean" type="org.syqb.ebuymgr.pojo.UserAddress">
        <id column="addressId" property="addressid" jdbcType="INTEGER"/>
        <result column="addressName" property="addressname" jdbcType="VARCHAR"/>
        <result column="addressCreateTime" property="addresscreatetime" jdbcType="TIMESTAMP"/>
        <result column="isDefault" property="isdefault" jdbcType="INTEGER"/>
        <result column="addressRemark" property="addressremark" jdbcType="VARCHAR"/>
        <collection property="user" resultMap="org.syqb.ebuymgr.mapper.UserMapper.UserBean"/>
    </resultMap>
    <sql id="Base_Column_List">
        addressId, userId, addressName, addressCreateTime, isDefault, addressRemark
    </sql>
    <select id="selectByPrimaryKey" resultMap="UserAddressBean" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from easybuy_user_address
        where addressId = #{addressid,jdbcType=INTEGER}
    </select>
    <select id="selectByUserid" resultMap="UserAddressBean" parameterType="java.lang.Integer">
        select *
        from easybuy_user_address
        where userId = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from easybuy_user_address
        where addressId = #{addressid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.syqb.ebuymgr.pojo.UserAddress">
        insert into easybuy_user_address (addressId, userId, addressName,
        addressCreateTime, isDefault, addressRemark
        )
        values (#{addressid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{addressname,jdbcType=VARCHAR},
        #{addresscreatetime,jdbcType=TIMESTAMP}, #{isdefault,jdbcType=INTEGER}, #{addressremark,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="org.syqb.ebuymgr.pojo.UserAddress">
        insert into easybuy_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressid != null">
                addressId,
            </if>
            <if test="userid != null">
                userId,
            </if>
            <if test="addressname != null">
                addressName,
            </if>
            <if test="addresscreatetime != null">
                addressCreateTime,
            </if>
            <if test="isdefault != null">
                isDefault,
            </if>
            <if test="addressremark != null">
                addressRemark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressid != null">
                #{addressid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="addressname != null">
                #{addressname,jdbcType=VARCHAR},
            </if>
            <if test="addresscreatetime != null">
                #{addresscreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdefault != null">
                #{isdefault,jdbcType=INTEGER},
            </if>
            <if test="addressremark != null">
                #{addressremark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.syqb.ebuymgr.pojo.UserAddress">
        update easybuy_user_address
        <set>
            <if test="userid != null">
                userId = #{userid,jdbcType=INTEGER},
            </if>
            <if test="addressname != null">
                addressName = #{addressname,jdbcType=VARCHAR},
            </if>
            <if test="addresscreatetime != null">
                addressCreateTime = #{addresscreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdefault != null">
                isDefault = #{isdefault,jdbcType=INTEGER},
            </if>
            <if test="addressremark != null">
                addressRemark = #{addressremark,jdbcType=VARCHAR},
            </if>
        </set>
        where addressId = #{addressid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.syqb.ebuymgr.pojo.UserAddress">
        update easybuy_user_address
        set userId = #{userid,jdbcType=INTEGER},
        addressName = #{addressname,jdbcType=VARCHAR},
        addressCreateTime = #{addresscreatetime,jdbcType=TIMESTAMP},
        isDefault = #{isdefault,jdbcType=INTEGER},
        addressRemark = #{addressremark,jdbcType=VARCHAR}
        where addressId = #{addressid,jdbcType=INTEGER}
    </update>
</mapper>